```
# Dependencies
vendor/

# Environment
.env
.env.local
.env.*

# Logs
*.log

# IDE
.php_cs
.php_cs.dist
.phpstorm.meta.php
.scrutinizer.yml
.styleci.yml
.travis.yml
.phpunit.result.cache
coverage/
.phpunit
.phpunit.xml
.phpunit.xml.dist
```